#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*nav should be a left-hand nav taking up the left 20% of the page */
nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  padding: 1rem;
  overflow-y: auto;
}
nav ul li {
  list-style: none;
  margin-bottom: 1rem;
  text-align: left;
}